*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    font-size: 50px;
    display: grid;
    place-items: center;
    text-decoration:underline;
    text-transform: uppercase;
    font-family: "Ultra", serif;
    font-weight: 25;
}
h2{
    font-size: 30px;
    display: grid;
    place-items: center;
    text-decoration: underline;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: black;
    margin-top: 10px;
    }

ul {
    display: flex;
    margin: 0 10px;
    padding: 0;
    list-style: none;
}

li {
    list-style-type:none;
    padding: 10px;
    margin: 15px;
    background-color: #3cca7cd2;    
    cursor: pointer;
    margin: 10px;
    border: 2px solid rgb(1, 1, 10); /* Borde derecho doble y azul */
    }

.reservas{
    font-size: 15px;
    font-family: "Ultra", serif;
    color: black;
}

a {
    text-decoration: none;
    font-size: 1rem;
    color: black;
}

a:hover{
    color:green;
}

a:hover {
    background-color: lightblue;
    padding: 10px;
}
a:active{
    color:white;
}

    
.header-container {
    display: flex; 
    align-items: center; /* Alinea verticalmente el contenido */
    justify-content: space-between; 
    padding: 10px;
}

.left-image img, .right-image img {
    width: 150px; /* Fija la anchura de las imágenes a 250px */
    height: auto; /* Mantiene la relación de aspecto */
    margin: 0;
}

.header-container h1 {
    margin: 0 20px; /* Espacio alrededor del texto, si se desea */
    flex-grow: 1; /* Permite que el h1 use el espacio disponible */
    text-align: center; /* Centra el texto del h1 en su espacio */
}

section {
    display: inline-block; /* Permite alinear secciones en horizontal */
    text-align: center; /* Centra el contenido dentro de cada sección */
    margin: 10px; /* Espacio entre las secciones */
}

section img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    width: 220px; 
    height: auto; 
    max-width: 100%; 
}
.mi-boton {
    display: inline-block;
    font-weight: 400;
    color: #fff; /* color del texto */
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #007bff; /* color de fondo similar a btn-primary */
    border: 1px solid #007bff;
    padding: 0.375rem 0.75rem; 
    font-size: 1rem; 
    border-radius: 0.25rem; 
    line-height: 1.5;
    cursor: pointer;
    transition: background-color 0.15s ease, border-color 0.15s ease;
}

.mi-boton:hover {
    background-color: #0069d9; /* tono más oscuro para el hover */
    border-color: #0062cc;
}

body {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si el espacio es limitado */
    background-color: #6c757d ;
}
.img-maquinas {
    display:inline-block;
    text-align: center; /* Para centrar el texto */
    position: relative;
}

.texto-pulverizadora,.texto-sembradora,.texto-cosechadora{
        position: absolute;
        top: 70%; /* Centrado verticalmente */
        left: 50%; /* Centrado horizontalmente */
        transform: translate(-50%, -50%); /* Ajuste para centrar */
        color: white;
        font-size: 1.5rem; /* Tamaño del texto ajustable */
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para mejor visibilidad */}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f2f2f2; 
}

.derechos {
    margin: 0;
    font-size: 1rem;
    color: #333;
}

.social a {
    margin-left: 1rem;
    display: inline-block;
}

.social img {
    width: 24px; /* ajusta según tu necesidad */
    height: 24px;
}

main {
    position: relative;
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

form {
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
        }

label {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    color: black;
        }

input, select {
    padding: 8px;
    border-radius: 5px;
    border: 8px solid #ccc;
    width: 100%;
    }

.filled{
    color: green;
}

form p{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    color: black;
}

option{
    color:blue;
}

.img-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    }

.img-whatsapp img {
    width: 60px;
    height: 60px;
        }

video.kml {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    }

header p{
    font-size: 1.2rem;
    display: grid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
}

.kml-titulo{
    font-size: 1.2rem;
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: fantasy;
    color:rgb(8, 8, 8);
    text-decoration: underline;    
}
.dueño{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


@media (max-width: 575.98px) {
    .header-container {
        flex-direction: column;}
    .header-container a img {
        max-width: 80px;}
    
    h1{
        font-size: 2.5rem;
        font-weight: 500; 
        line-height: 1.2;  
    margin-bottom: 0.5rem;}

    h2 {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    nav .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    nav ul {
    margin: 8px 0;  }

    .img-maquinas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 10px 0;}

    .texto-pulverizadora,
    .texto-sembradora,.texto-cosechadora
    {
        position: absolute;
        top: 70%; 
        left: 50%; 
        transform: translate(-50%, -50%); /* Ajuste para centrar */
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para mejor visibilidad */}
        
    .img-whatsapp {
        position: fixed;
        right: 3%;
        top: 65%;
        bottom: 25px;
        z-index: index 100;
    }

    } 

@media (min-width: 576px) and (max-width: 767.98px) {

    .header-container {
        flex-direction: row;
}
    .img-maquinas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 10px 0;}

    .texto-pulverizadora,
    .texto-sembradora,.texto-cosechadora
    {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%); /* Ajuste para centrar */
        color: white;
        font-size: 1.5rem; 
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); }
    

}

@media (min-width: 768px) and (max-width: 991.98px) {
    section {
        display: inline-block; 
        text-align: center;
        margin: 10px;
}

    section img {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
        width: 220px; 
        height: auto; 
        max-width: 100%; }

    .img-maquinas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 10px 0;}
    
    .texto-pulverizadora,
    .texto-sembradora,.texto-cosechadora
    {
        position: absolute;
        top: 70%; 
        left: 50%; 
        transform: translate(-50%, -50%); /* Ajuste para centrar */
        color: white;
        font-size: 1.5rem; 
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para mejor visibilidad */}
    
}


