/* Variables globales */
$color-dorado: #bfa14a;
$bg-dark: #121212;
$font-main: 'Roboto', sans-serif;
$font-sec: 'Lato', sans-serif;
$color-dorado: #c9a227; 
$color-tierra: #6c4f27;
$primary-color: #006837; // Verde maquinaria
$secondary-color: #88c057; // Verde claro, elegante


